<%- include("./partials/headAntigo") %>
<%- include("./partials/head") %>
<!-- ---------------------------  -->
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <%- include("./partials/headerLado") %>

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <%- include("./partials/headerCima") %>
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <main style="background-color: #312d4b; margin: 0;">
                            <h4><%= title %></h4>
                            <form id="word-form" action="/createWord" method="POST" enctype="multipart/form-data">
                                <div id="word-inputs">
                                    <div class="input-group">
                                        <input type="text" name="word[]" placeholder="Palavra em Inglês" style="background-color: transparent;">
                                        <input type="text" name="imageUrl[]" placeholder="URL da Imagem" style="background-color: transparent;">
                                        <input type="file" name="imageFile[]" style="background-color: transparent;">
                                    </div>
                                </div>
                                <button type="button" id="add-word">Adicionar Mais</button>
                                <br><br>
                                <button type="submit" class="btn btn-primary" style="background-color: blueviolet; border: 0;">Criar</button>
                            </form>
                            
                            
                            
                            
                        </main>
                        <script>
                            // JavaScript para adicionar mais campos dinamicamente
                            document.getElementById('add-word').addEventListener('click', () => {
                                const wordInputs = document.getElementById('word-inputs');
                                const newInputGroup = document.createElement('div');
                                newInputGroup.classList.add('input-group');
                                newInputGroup.innerHTML = `
                                    <input type="text" name="word[]" placeholder="Palavra em Inglês" style="background-color: transparent;">
                                    <input type="text" name="imageUrl[]" placeholder="URL da Imagem" style="background-color: transparent;">
                                    <input type="file" name="imageFile[]" accept="image/*" style="background-color: transparent;">
                                `;
                                wordInputs.appendChild(newInputGroup);
                            });

                        </script>
                    </div>

                    <a style="border: 0; background-color: rgb(23, 0, 137); color: white; padding: 0.7rem; text-align: center; width: 50%; 
                    border-radius: 10px; margin-left:  auto; margin-right: auto;" href="/wordList">Word List</a>
                </div>
                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
        <div class="layout-overlay layout-menu-toggle"></div>
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <%- include("./partials/linkFooter") %>
</body>
</html>
