


<%- include("./partials/head") %>
<%- include("./partials/headAntigo") %>

<body>



    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
    <%- include("./partials/headerLado") %>


        <!-- Layout container -->
        <div class="layout-page" style="background-color: #28243d;">
            <!-- Navbar -->
  

    <%- include("./partials/headerCima") %>







          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="background-color: #28243d; margin-top: 0 !important;">






                <div class="misc-wrapper" >
                    <div style="display: flex; justify-content: center;"><h4 class="mb-2 mx-2" style="text-align: center; color: white; background-color: rgba(16, 220, 53, 0.783); padding: 1px; border-radius: 10px; width: 50%;"><%= title %> </h4></div>
                    <p class="mb-10 mx-2" style="text-align: center; font-size: 16px;">Congratulations! You have successfully completed the game. 🚀</p>
                    <div class="d-flex justify-content-center mt-10">
                      <img
                        src="../../assets/img/illustrations/tree-3.png"
                        alt="misc-tree"
                        class="img-fluid misc-object d-none d-lg-inline-block" />
                      <img
                        src="../../assets/img/illustrations/tree.png"
                        alt="misc-tree"
                        class="img-fluid misc-object-right d-none d-lg-inline-block" />
                      <img
                        src="../../assets/img/illustrations/misc-mask-light.png"
                        alt="misc-error"
                        class="scaleX-n1-rtl misc-bg d-none d-lg-inline-block"
                        height="172"
                        data-app-light-img="illustrations/misc-mask-light.png"
                        data-app-dark-img="illustrations/misc-mask-dark.png" />
                      <img
                        src="../../assets/img/illustrations/misc-coming-soon.png"
                        alt="misc-error"
                        class="img-fluid z-1"
                        width="680" />
                    </div>
                  </div>
                  <div style="display: flex; justify-content: center; cursor: pointer; margin-top: 1rem;">
                  <a href="/" style="background-color: blueviolet; padding: 2px; width: 50%; color: white;" class="btn">Voltar ao Início</a>

                  </div>
            </div>
            <!-- / Content -->


            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>

    <script src="../js/game.js"></script>
    <%- include("./partials/linkFooter") %>

</body>
</html>
