<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>

    <main>
        <h2><%= title %></h2>
        <p>Pergunta <%= questionNumber %> de <%= totalQuestions %></p>
        <div id="spelling-game">
            <% if (card.imageUrl) { %>
                <h3>Digite a palavra correspondente à imagem:</h3>
                <img src="<%= card.imageUrl %>" alt="Imagem" style="max-width: 100%; height: auto; width: 400px; display: block; margin: 0 auto;">
                <form id="spellingForm" action="/spelling/check" method="POST">
                    <input type="hidden" name="expectedWord" value="<%= card.word.trim().toLowerCase() %>"> <!-- Palavra em inglês para a imagem -->
                    <input type="text" name="userAnswer" placeholder="Digite aqui" required>
                    <button type="submit">Verificar</button>
                </form>
            <% } else { %>
                <h3>Digite a tradução da palavra:</h3>
                <p><%= card.word %></p>
                <form id="spellingForm" action="/spelling/check" method="POST">
                    <input type="hidden" name="expectedTranslation" value="<%= card.translation.trim().toLowerCase() %>"> <!-- Tradução correta -->
                    <input type="text" name="userAnswer" placeholder="Digite aqui" required>
                    <button type="submit">Verificar</button>
                </form>
            <% } %>
            <div id="result">
                <% if (typeof feedback !== 'undefined') { %>
                    <p class="<%= feedback === 'Correto!' ? 'correct' : 'incorrect' %>"><%= feedback %></p>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>
